@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-color: #1C49C2;
}
.Logo{
    font-size: larger;
}
nav{
    background: #1C49C2;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'chewy';
}
nav input{
    width: 400px;
    height: 5vh;
    border-radius: 10px;
    border: none;
}
nav i {
    font-size: 20px;
}
.alt-menu a {
    padding: 20px;
}
.search{
    color: white;
    font-family: 'chewy';
}
.search i{
    position: relative;
    
}
img{
    border-radius: 10px;
    cursor: pointer;
}
.wrapper{
 background: white !important;
}
#mainImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}
.imageChoice{
    width: 100px;
    height: 100px;
    transition: 0.3s;
    object-fit: cover;
}
.imageChoice.active{
  border: #000 solid 1px;
  border-radius: 200px;
}
ul{
    list-style: none;
    color: goldenrod;
}
.auto{
  color: #1C49C2;
  font-weight: 700;
  background: #82b1db;
  border-radius: 10px;
  width: 80%;
}
.auto li {
  margin-left: 20px;
}
.products{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
.shop-button{
  margin-top: 50px;
  background: #ef6c00;
  border-radius: 10px;
  padding: 0px 20px 40px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
select {
  background: red;
margin: 0;
padding: 0 0.75em 0 0;
width: auto;
border: none;
box-shadow: none;
background: none;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

select:focus {
outline: none;
border: none;
background: red;
font-size: 2rem;
}

select:hover {
cursor: pointer;

}
.shop-right{

  height: 515px;
}
.dropdown{
  font-size: 2rem
}
.favor{
  position: relative;
  
}
.img{
  display: block;

  height: auto;
}
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.8rem;
      right: 0;
     width: 93%;
     padding-right: 300px;
     padding-bottom: 0;
     
      opacity: 0;
      transition: .3s ease;
      background: black;
    }
.fa-book:hover{
  color: #eee;
}
.favor:hover .overlay{
  opacity: 0.8;
}
.icon{
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.navs i:hover{
background-color: rgb(255, 217, 0);
color: goldenrod;
border: 5px;
}

.carousel-item video{
  
}


.navbarss a{
  color: goldenrod;
  padding: 10px;
  width: auto;   
  margin-top: 40px;
}
.navbarss{
  margin-right: 200px;
}
.acc{   
  width: 95%;
  padding: auto;
  margin: auto;
}
.read{
 left: 195px;

 
}
.footer{

  
}
.card{
  background: black;
}
.car3{
display: block;
 
 background-size: cover;
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(172,172,235,1) 35%, rgba(0,212,255,1) 100%);
 width: 100%;
}
.car4{
  display: none;
}
.car3 video{
  display: block;
  width: 100%;
  height: 100%;
}

.navbarss a:hover{
 
  text-decoration: underline;
  color:goldenrod;
  cursor: pointer;
  
}
.controls{
  background: red !important;
  color: red !important;
}
.carousel-item{
  left: 40px;
  top: 30px;
  row-gap: 0px;
}
.tol p{
  color: white;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tol a{
text-decoration: none;
}

.tol p:hover{
  color:gold;
  cursor: pointer;
  text-decoration: underline;

}
/* Footer */
.footer-upper{
    width: 100%;
    background-color: #1C49C2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'chewy';
    color: white;
}
.footer-upper a{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #1C49C2;
    font-family: 'chewy';
}
.footer-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #1C49C2;
}

.footer-lower a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #1C49C2;
    padding: 20px;
}
@media only screen and (max-width: 750px){

  nav{
    height: 6.5rem;
    align-items: start;
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  nav input{
    margin-top: 50px;
    display: block;
    position: absolute;
    height: 2.6rem;
  
    left: 0;
    right: 0;
    width: 100%;
  }
  .chewy-carousel{
  }
  .search i{
    display: none;
  }
}



/* nav bar ends */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  


  .contianer{
    width: 100%;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .sing-in{
    border-radius: 5px;
    color: white;
    background: #1C49C2;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-family: 'Poppins';
  }
  .sing-in button{
    background: none;
    background: white;
    margin-top: 5px;
    font: 600;
    border: none;
  }
  .sing-in input, button{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding: 0px;
    border: none;
  }
  .sing-in a{
    margin-top: 9px;
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins';
  
  }
  .sign-up {
    font-family: 'Poppins';
    background: #1C49C2;
    width: 400px;
    height: 350px;
    padding: 50px;
    border-radius: 5px;
  }
  .sign-up a{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins';
  }
  .promo{
    text-align: center;
    font-family: 'Poppins';
  }
  .sing-in form{
    height: auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
