@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
 background: #fff !important;

}
.Logo{
    font-size: larger;
}
nav{
    background: #1C49C2;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'chewy';
}
nav input{
    width: 400px;
    height: 5vh;
    border-radius: 10px;
    border: none;
}
nav i {
    font-size: 20px;
}
.alt-menu a {
    padding: 20px;
}
.search{
    color: white;
    font-family: 'chewy';
}
.search i{
    position: relative;
}
/* ul star */
ul{
  list-style: none;
  color: goldenrod;
}


@media only screen and (max-width: 750px){

  nav{
    height: 6.5rem;
    align-items: start;
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  nav input{
    margin-top: 50px;
    display: block;
    position: absolute;
    height: 2.6rem;
  
    left: 0;
    right: 0;
    width: 100%;
  }
  /* .chewy-carousel{
  } */
  .search i{
    display: none;
  }
 
}
/**SHOPPING CART***************/
.cart-container{
  padding-top:20px;
  width: 70%;
  height: 85%;
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  overflow: hidden;
}
.cart-header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-heading{
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 700;
  color: #1C49C2;
}
.cart-action{
  font-size: .9rem;
  font-family: 'Poppins';
  font-weight: 600;
  color: #1C49C2;
  cursor: pointer;
  border-bottom: 1px solid red;
}
.cart-items{
  margin: 20px auto auto auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-box{
  width: 15%;
  text-align: center;
}
.about{
  height: 100%;
  
}
.about h1{
  margin-bottom: 20px;
}
.title{
  padding-top: 5px;
  line-height: 10px;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #000;
}
.subtitle{
  line-height:10px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #909090;
}
/*counter*/
.counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 900;
  color: #202020;
  cursor: pointer;
}
.count{
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 900;
  color: #202020;
}
.prices{
  height: 100%;
  text-align: right;
}
.amount{
  padding-top:20px;
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: 800;
  color: #202020;
}
.remove{
  padding-top:5px;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #e44c4c;
  cursor: pointer;
}
/**Total**/
hr{
  width: 70%;
  float: right;
  margin-right: 5%;
}
.checkouts{
  float: right;
  margin-right: 5%;
  width: 28%;
}
.total{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Subtotal{
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 500;
  color: #202020;
}
.items{
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}
.total-amount{
  font-size: 2rem;
  font-family: 'Poppins';
  font-weight:900;
  color: #202020;
}
.checkout-button{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 600;
  color: #202020;
}
@media only screen and (max-width: 750px){
  .cart-container{
    max-width: 700px !important;
    padding: 0;
  }
}
@media only screen and (max-width: 500px){
  /* .cart-container{
    
 
  
  } */
  .cart-items{
   flex-wrap: wrap;
   flex-direction: column;
 
  }
  .checkouts{
    float: none;
    width: 100%;
    margin-bottom: 5rem;
    
  }
}
/**END OF SHOPPING CART****************/

/* Cart Sidebar */
.alt-menu a .cart{
  right: -400px;
}
.cart-sidebar {
  position: fixed;

  /* right: 0;  */
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: 0 0 35px #04040445;
  overflow-y: auto;
  z-index: 100;
  transition: all ease 0.5s;
}
.cart-sidebar .cart-title h4{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  padding:40px 30px 20px;
  border-bottom: 1px solid black
}
.cart-sidebar .cart-body{
  padding: 30px 0;
}
.cart-sidebar .cart-item{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 30px;
}
.cart-sidebar .cart-item .img{
  width: 20%;
  float: left;
}
.cart-sidebar .cart-item .img img{
  width: 100%;
}
.cart-sidebar .cart-item .carttxt{
  width: 80%;
  float: left;
  padding: 0 20px;
}
.cart-sidebar .cart-item .carttxt span,
.cart-sidebar .cart-item .carttxt h5{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 5px;
}
.cart-sidebar .cart-item .carttxt span{
  color: gray;
}
.cart-sidebar .button{
  display: inline-block;
  width: 80%;
  text-align: center;
  text-decoration: none;
  background: #7691da;
  color: #000;
  font-size: 16px;
  padding: 14px 39px;
  letter-spacing: 4px;
  border-radius: 50px;
  box-shadow: 0 12px 20px #8EB7EB;
  margin: 10% 10% 0;
}
.close-icon{
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}
/* carousel */
.carousel-item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 1020px;
}
.title{
  font-size: 1.2rem;
  font-family: 'Poppins' !important;
  line-height: 20px;
}

button span{
    margin-top: 250px;
}
/**caroousel end*/
/**CATEGORIES**/
.categories{
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Poppins' !important;

}
.category-item img{
  border-radius: 200px;
  width: 200px !important;
}
.categories img{
  border-radius: 100px;
}
/**END OF CATEGORY***/
/*DOG INSIDE CATEGORY**/
.banner{
width: 100%;
height: 280px;

}
.banners{
  display: none;
}
.shop-items{
  text-align: center;
  margin-top: 50px;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.shop-item-title{
  font-size: 1.1rem;
  height: 70px;
 font-weight: 500;
  text-align:start;
  margin-bottom: 5px;
 
}
.shop-items i{
  color: orange;
  margin-bottom: 0px;
  
}
.shop-items img{
  width: 200px;
  height: 280px;
  align-self: center;
 
}
@media only screen and (max-width: 550px ) and (min-width:420px){
  
 /* .shop-items img{
 
  
 } */
  
 
}
.shop-item-price{
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color:#bc2848;
}
.shop-item-content{
  line-height: 23px;
}
.shop-item-content button{
width: 100%;
margin-bottom: 10px;
border-radius: 5px;
font-size: 1.2rem;
padding-bottom: 30px;
padding-top: 10px;
background: #ef6c00;
color: white;
font-family: 'Poppins';
font-weight: 500;

}
.shop{
  margin-top: 50px;
}
@media only screen and (max-width: 650px){
  .banner{
    display: none;
  }
  .banners{
    display: block;
    width: 100%;
  height: 280px;
  }
}
@media only screen and (max-width: 990px) and (min-width:551px){
  .row{
   
  display: flex !important;
  flex-wrap: wrap !important;
   width: 750px;
   max-width: 570px;

 
  }
  /* .shop-items img{
 
    
   } */
   .shop-item-title{
    width: 250px;
    height: 100px;
   }
}
.categories img{
  width: 170px;
  height: 170px;
}
.categories button{
  background: none;
}
.categories{

  margin-bottom: 100px;
}
.category-img{
  border-radius: 1000px !important;

}
.index-content{
  font-family: 'Poppins' !important;
  width: 400px !important;
  height: 200px !important;
 
  
}
.categories ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
background-color: blue;
 
}
ul{
  padding-left: 0px !important;
}
.categories ul li{
 
  justify-content: space-between;
}
/* END OF DOG INSIDE CATEGORY**/
/**DOG*/
.dog img{
  border-radius: 10px;

}

.category-item-button.active{
  border: #000 solid 1px;
  border-radius: 200px;
}
.mt-3{
  border: rgb(196, 190, 190) solid .3px;
  border-radius: 10px;  
  margin-left: 0px;
}
<<<<<<< HEAD
.category-box .index-tabs{
  display: none;
}
.category-box .index-tabs.active{
  display: block;
}
.index-tabs{
}
=======
/* .index-tabs{

} */
>>>>>>> 1f05816e663473ba0373f5481653f856663d46fa
.text-muted i{
  color: gold;
}
.dog{
  padding-top: 1em;
  font-family: 'Poppins' !important;
  width: 100%;
  height: 400px;
 

}
.fw-600{

  font-weight: 600 !important;
  font-family: 'Poppins' !important;
}
.dog-subtitle{
  font-size: 1.5rem;
  padding: .6em;
  margin-bottom: 0px;
    font-weight: 400;
  overflow: scroll;
  font-weight: 400;
  line-height: 30px;
 

}
.dog-btn{
 background: #7691da;
  font-size: 1.5rem !important;
  width:300px !important;
  height: 50px !important;
  
  border-radius: 10px;
}
div{
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1400px) /**and (min-width:551px)**/{
  .dog-subtitle{
    font-size: 1.3rem;
 
  }
  .categories img{
    width: 180px;
  }
}

@media only screen and (max-width: 1250px) /**and (min-width:551px)**/{
  /* .index-tabs{
  
} */
}
@media only screen and (max-width: 1100px) and (min-width:990px) {
  .dog{
  
    width: 100% !important;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
  } 
  .category-category{
    width: 100%;
    align-self: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  .sub-content{
  
    width: 100% !important; 
    margin-left: 0px;
  }
 
  /* #fishes{


  } */
  .dog-subtitle{
   width: 100%;
  }
}
@media only screen and (max-width: 989px) and (min-width:790px) {
  .dog{
      width: 100% !important;
    
  }
  .category-category{
    width: 100%;

    align-self: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  .sub-content{
  
    width: 100% !important; 
    margin-left: 0px;
  }
  .container{
    max-width: 990px !important;
 
  }
  .row{
    max-width: 1000px;
  }
  /* .index-tabs{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: 990px;
  background: red;
  } */
 
  /* #fishes{


  } */
  .dog-subtitle{
   width: 100%;
  }
}
@media only screen and (max-width: 789px) and (min-width: 0px) {
 
.dog-subtitle{
 width: 100%;
}
/* .mt-3{
 

} */
.categories img{
  width: 170px;

}
.index-content{

  width: 100% !important;
}
.dog-btn{
  font-size: 1.2em !important;
  width: 200px;
  padding-bottom: 20;
margin-top: -50px !important;
}
}

/**DOG ENDS*/

/**REVIEWS**/
.card-img-top{
 border-radius: 50px;
}
.owl-theme .owl-dots .owl-dot span {
  display: none !important;
}
/* .owl-prev{
  background: red !important;
  height: 50px;

 
}
.owl-prev span{
  font-size: 3rem !important; 
  font-weight: bolder !important;
  margin-top: 0px !important;
} */


/**REVIEWS ENDS**/
/* Footer */
.footer-upper{
    width: 100%;
    background-color: #1C49C2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'chewy';
    color: white;
}
.footer-upper a{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #1C49C2;
    font-family: 'chewy';
}
.footer-lower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #1C49C2;
}

.footer-lower a{
    text-decoration: none;
    font-family: 'Poppins';
    color: #1C49C2;
    padding: 20px;
}
/* footer query */
@media only screen and (max-width: 750px){
  .footer-upper{
    font-size: .5rem;
  }

  .footer-lower{
    font-size: .8rem;
  }
}


/* nav bar ends */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  


  .contianer{
    width: 100%;
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .sing-in{
    border-radius: 5px;
    color: white;
    background: #1C49C2;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    font-family: 'Poppins';
  }
  .sing-in button{
    background: none;
    background: white;
    margin-top: 5px;
    font: 600;
    border: none;
  }
  .sing-in input, button{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding: 0px;
    border: none;
  }
  .sing-in a{
    margin-top: 9px;
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins';
  
  }
  .sign-up {
    font-family: 'Poppins';
    background: #1C49C2;
    width: 400px;
    height: 350px;
    padding: 50px;
    border-radius: 5px;
  }
  .sign-up a{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Poppins';
  }
  .promo{
    text-align: center;
    font-family: 'Poppins';
  }
  .sing-in form{
    height: auto;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
